In [38]:
import pandas as pd
import numpy as np
import sqlite3
import csv
import matplotlib.pyplot as plt

### Conversion of csv to database
- Memory Considerations if size too large use chunksize

In [30]:
df = pd.read_csv('covid-variants.csv')
df.head(5)

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3

In [48]:
conn = sqlite3.connect('covid-variants.sqlite')
cur = conn.cursor()

In [49]:
cur.execute('DROP TABLE IF EXISTS covid_variants')
cur.execute('''
            CREATE TABLE "covid_variants"(
                "location" TEXT,
                "date" DATE,
                "variant" TEXT,
                "num_sequences" REAL
                "perc_sequences" REAL
                "num_sequences_total" REAL)
            ''')

In [51]:
with open('covid-variants.csv') as csvfile:
    read = csv.reader(csvfile, delimiter = ',')
    for row in read:
        print(row)
        location = row[0]
        date = row[1]
        variant = row[2]
        num_sequences = float(row[3])
        perc_sequences = float(row[4])
        num_sequences_total = float(row[5])

AttributeError: '_io.TextIOWrapper' object has no attribute 'reader'

OperationalError: no such table: Table1

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []